/ATouch.class
/CChange.class
/CPres.class
/EndTrack.class
/Event.class
/KeySig.class
/NoteOff.class
/NoteOn.class
/PChange.class
/PWheel.class
/SysComEvt.class
/SysEx.class
/TempoEvent.class
/TimeSig.class
/VoiceEvt.class
